// .Display_2xl //////////
.Display_2xl_Regular {
    font-size: 72px;
    font-weight: 500;
    line-height: 90;
    letter-spacing: -2%;
  }
  
  .Display_2xl_Medium {
    font-size: 72px;
    font-weight: 600;
    line-height: 90;
    letter-spacing: -2%;
  }
  
  .Display_2xl_Semibold {
    font-size: 72px;
    font-weight: 700;
    line-height: 90;
    letter-spacing: -2%;
  }
  
  .Display_2xl_Bold {
    font-size: 72px;
    font-weight: 800;
    line-height: 90;
    letter-spacing: -2%;
  }
  
  // .Display_xl //////////
  .Display_xl_Regular {
    font-size: 60px;
    font-weight: 500;
    line-height: 72;
    letter-spacing: -2%;
  }
  
  .Display_xl_Medium {
    font-size: 60px;
    font-weight: 600;
    line-height: 72;
    letter-spacing: -2%;
  }
  
  .Display_xl_Semibold {
    font-size: 60px;
    font-weight: 700;
    line-height: 72;
    letter-spacing: -2%;
  }
  
  .Display_xl_Bold {
    font-size: 60px;
    font-weight: 800;
    line-height: 72;
    letter-spacing: -2%;
  }
  
  // .Display_lg //////////
  .Display_lg_Regular {
    font-size: 48px;
    font-weight: 500;
    line-height: 60;
    letter-spacing: -2%;
  }
  
  .Display_lg_Medium {
    font-size: 48px;
    font-weight: 600;
    line-height: 60;
    letter-spacing: -2%;
  }
  
  .Display_lg_Semibold {
    font-size: 48px;
    font-weight: 700;
    line-height: 60;
    letter-spacing: -2%;
  }
  
  .Display_lg_Bold {
    font-size: 48px;
    font-weight: 800;
    line-height: 60;
    letter-spacing: -2%;
  }
  
  // .Display_md //////////
  .Display_md_Regular {
    font-size: 36px;
    font-weight: 500;
    line-height: 44;
    letter-spacing: -2%;
  }
  
  .Display_md_Medium {
    font-size: 36px;
    font-weight: 600;
    line-height: 44;
    letter-spacing: -2%;
  }
  
  .Display_md_Semibold {
    font-size: 36px;
    font-weight: 700;
    line-height: 44;
    letter-spacing: -2%;
  }
  
  .Display_md_Bold {
    font-size: 36px;
    font-weight: 800;
    line-height: 44;
    letter-spacing: -2%;
  }
  
  // .Display_sm //////////
  .Display_sm_Regular {
    font-size: 30px;
    font-weight: 500;
    line-height: 38;
    letter-spacing: 0%;
  }
  
  .Display_sm_Medium {
    font-size: 30px;
    font-weight: 600;
    line-height: 38;
    letter-spacing: 0%;
  }
  
  .Display_sm_Semibold {
    font-size: 30px;
    font-weight: 700;
    line-height: 38;
    letter-spacing: 0%;
  }
  
  .Display_sm_Bold {
    font-size: 30px;
    font-weight: 800;
    line-height: 38;
    letter-spacing: 0%;
  }
  
  // .Display_xs //////////
  .Display_xs_Regular {
    font-size: 24px;
    font-weight: 500;
    line-height: 32;
    letter-spacing: 0%;
  }
  
  .Display_xs_Medium {
    font-size: 24px;
    font-weight: 600;
    line-height: 32;
    letter-spacing: 0%;
  }
  
  .Display_xs_Semibold {
    font-size: 24px;
    font-weight: 700;
    line-height: 32;
    letter-spacing: 0%;
  }
  
  .Display_xs_Bold {
    font-size: 24px;
    font-weight: 800;
    line-height: 32;
    letter-spacing: 0%;
  }
  
  // Text extra large //////////
  .Text_xl_Regular {
    font-size: 20px;
    font-weight: 500;
    line-height: 30;
    letter-spacing: 0%;
  }
  
  .Text_xl_Medium {
    font-size: 20px;
    font-weight: 600;
    line-height: 30;
    letter-spacing: 0%;
  }
  
  .Text_xl_Semibold {
    font-size: 20px;
    font-weight: 700;
    line-height: 30;
    letter-spacing: 0%;
  }
  
  .Text_xl_Bold {
    font-size: 20px;
    font-weight: 700;
    line-height: 30;
    letter-spacing: 0%;
  }
  
  // Text large //////////
  .Text_lg_Regular {
    font-size: 18px;
    font-weight: 500;
    line-height: 28;
    letter-spacing: 0%;
  }
  
  .Text_lg_Medium {
    font-size: 18px;
    font-weight: 600;
    line-height: 28;
    letter-spacing: 0%;
  }
  
  .Text_lg_Semibold {
    font-size: 18px;
    font-weight: 700;
    line-height: 28;
    letter-spacing: 0%;
  }
  
  .Text_lg_Bold {
    font-size: 18px;
    font-weight: 700;
    line-height: 28;
    letter-spacing: 0%;
  }
  
  // Text large //////////
  .Text_lg_Regular {
    font-size: 18px;
    font-weight: 500;
    line-height: 28;
    letter-spacing: 0%;
  }
  
  .Text_lg_Medium {
    font-size: 18px;
    font-weight: 600;
    line-height: 28;
    letter-spacing: 0%;
  }
  
  .Text_lg_Semibold {
    font-size: 18px;
    font-weight: 700;
    line-height: 28;
    letter-spacing: 0%;
  }
  
  .Text_lg_Bold {
    font-size: 18px;
    font-weight: 700;
    line-height: 28;
    letter-spacing: 0%;
  }