@mixin mobileHeadline {
    @media (max-width: 768px) {
      @content;
    }
  }
  
  #headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
    // height: 855px;
    background-image: url(/scss/images/main_big.png);
    background-repeat: repeat-x;
    background-position: center center;
  
  
    .content {
      display: flex;
      max-width: 65rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.875rem;
  
      @include mobileHeadline {
       max-width: none;
       padding-left: 1rem;
       padding-right: 1rem;
    }
  
      .heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.625rem;
  
        h3 {
          color: var(--primary-c-olor, #EC5242);
          font-size: 2.85438rem;
          letter-spacing: 0.08725rem;
  
          @include mobileHeadline {
            font-size: 1.5rem;
          }
        }
  
        h1 {
            display: flex;
            flex-direction: column;
            font-size: 5rem;
            font-weight: 900;
            line-height: 5.625rem;
            letter-spacing: -0.09rem;
            // color: var(--primary-c-olor, #EC5242);
            background: url(../images/bg.jpg);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-position: right;
  
            @include mobileHeadline {
            font-size: 3rem;
            font-weight: 700;
            line-height: 3rem;
            letter-spacing: -0.09rem;
            // color: var(--primary-c-olor, #EC5242);
            background: url(../images/bg.jpg);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-position: right;
          }
        }
      }
  
      .discription {
        display: flex;
        width: 70%;
        padding: 1.5rem 1.375rem;
        align-items: flex-start;
        gap: 0.625rem;
        border: 5px solid #FFF;
        background: #FAFAFB;
  
        @include mobileHeadline {
          width: 100%;
        }
  
        p {
          color: var(--secondary-color, #272A31);
          font-size: 0.875rem;
          font-weight: 500;
          line-height: 1.4375rem;
          letter-spacing: 0.03125rem;
        }
      }
  
      .location {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.875rem;
  
        h4 {
          color: var(--secondary-color, #272A31);
          font-size: 2.25rem;
          font-weight: 900;
          letter-spacing: 0.09375rem;
  
          @include mobileHeadline {
            font-size: 1.5rem;
            font-weight: 700;
          }
  
        }
  
        p {
          color: var(--secondary-color, #272A31);
          font-size: 1.5rem;
          font-weight: 500;
          letter-spacing: -0.03125rem;
  
          @include mobileHeadline {
            font-size: 1rem;
          }
        }
      }
    }
  
  
  }