html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

header {
  box-shadow: 0 4px 8px 0 rgba(167, 167, 167, 0.25);
}

header .top-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  background-color: #3e3e3e;
}

header .top-banner .banner {
  display: flex;
  width: 100%;
  max-width: 65rem;
  padding: 0.3125rem 0.625rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

header .top-banner .banner p {
  color: white;
}

header .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .menu .menu-bottom {
  display: flex;
  width: 100%;
  max-width: 65rem;
  padding: 0.5rem 0;
  justify-content: space-between;
  align-items: center;
}

header .menu .menu-bottom .left-menu {
  display: flex;
  align-items: center;
  gap: 5.375rem;
  width: inherit;
  justify-content: end;
}

header .menu .menu-bottom .left-menu .left {
  display: flex;
  align-items: center;
  gap: 5.375rem;
}

header .menu .menu-bottom .left-menu .left li {
  list-style: none;
}

header .menu .menu-bottom .left-menu .left li a {
  color: #868686;
}

header .menu .menu-bottom .left-menu .left li .active {
  color: #791e14 !important;
}

header .menu .menu-bottom .left-menu button {
  display: flex;
  padding: 0.8125rem 1.375rem;
  align-items: flex-start;
  gap: 0.625rem;
  border: 3px solid #ec5242;
  color: #ec5242;
  background-color: white;
}

header #humburger {
  display: none;
}

@media (max-width: 768px) {
  header {
    box-shadow: none;
  }

  header .top-banner {
    display: none;
  }

  header #mobile-menu {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #ec5242;
  }

  header #mobile-menu .menu-bottom img {
    display: none;
  }

  header #mobile-menu .menu-bottom .left-menu .left {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
    position: fixed;
    top: 83px;
    justify-content: center;
    width: 100%;
  }

  header #mobile-menu .menu-bottom .left-menu .left a {
    color: white;
  }

  header #mobile-menu .menu-bottom .left-menu button {
    display: none;
  }

  header #humburger {
    display: flex;
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
  }
}

.Display_2xl_Regular {
  font-size: 72px;
  font-weight: 500;
  line-height: 90;
  letter-spacing: -2%;
}

.Display_2xl_Medium {
  font-size: 72px;
  font-weight: 600;
  line-height: 90;
  letter-spacing: -2%;
}

.Display_2xl_Semibold {
  font-size: 72px;
  font-weight: 700;
  line-height: 90;
  letter-spacing: -2%;
}

.Display_2xl_Bold {
  font-size: 72px;
  font-weight: 800;
  line-height: 90;
  letter-spacing: -2%;
}

.Display_xl_Regular {
  font-size: 60px;
  font-weight: 500;
  line-height: 72;
  letter-spacing: -2%;
}

.Display_xl_Medium {
  font-size: 60px;
  font-weight: 600;
  line-height: 72;
  letter-spacing: -2%;
}

.Display_xl_Semibold {
  font-size: 60px;
  font-weight: 700;
  line-height: 72;
  letter-spacing: -2%;
}

.Display_xl_Bold {
  font-size: 60px;
  font-weight: 800;
  line-height: 72;
  letter-spacing: -2%;
}

.Display_lg_Regular {
  font-size: 48px;
  font-weight: 500;
  line-height: 60;
  letter-spacing: -2%;
}

.Display_lg_Medium {
  font-size: 48px;
  font-weight: 600;
  line-height: 60;
  letter-spacing: -2%;
}

.Display_lg_Semibold {
  font-size: 48px;
  font-weight: 700;
  line-height: 60;
  letter-spacing: -2%;
}

.Display_lg_Bold {
  font-size: 48px;
  font-weight: 800;
  line-height: 60;
  letter-spacing: -2%;
}

.Display_md_Regular {
  font-size: 36px;
  font-weight: 500;
  line-height: 44;
  letter-spacing: -2%;
}

.Display_md_Medium {
  font-size: 36px;
  font-weight: 600;
  line-height: 44;
  letter-spacing: -2%;
}

.Display_md_Semibold {
  font-size: 36px;
  font-weight: 700;
  line-height: 44;
  letter-spacing: -2%;
}

.Display_md_Bold {
  font-size: 36px;
  font-weight: 800;
  line-height: 44;
  letter-spacing: -2%;
}

.Display_sm_Regular {
  font-size: 30px;
  font-weight: 500;
  line-height: 38;
  letter-spacing: 0%;
}

.Display_sm_Medium {
  font-size: 30px;
  font-weight: 600;
  line-height: 38;
  letter-spacing: 0%;
}

.Display_sm_Semibold {
  font-size: 30px;
  font-weight: 700;
  line-height: 38;
  letter-spacing: 0%;
}

.Display_sm_Bold {
  font-size: 30px;
  font-weight: 800;
  line-height: 38;
  letter-spacing: 0%;
}

.Display_xs_Regular {
  font-size: 24px;
  font-weight: 500;
  line-height: 32;
  letter-spacing: 0%;
}

.Display_xs_Medium {
  font-size: 24px;
  font-weight: 600;
  line-height: 32;
  letter-spacing: 0%;
}

.Display_xs_Semibold {
  font-size: 24px;
  font-weight: 700;
  line-height: 32;
  letter-spacing: 0%;
}

.Display_xs_Bold {
  font-size: 24px;
  font-weight: 800;
  line-height: 32;
  letter-spacing: 0%;
}

.Text_xl_Regular {
  font-size: 20px;
  font-weight: 500;
  line-height: 30;
  letter-spacing: 0%;
}

.Text_xl_Medium {
  font-size: 20px;
  font-weight: 600;
  line-height: 30;
  letter-spacing: 0%;
}

.Text_xl_Semibold {
  font-size: 20px;
  font-weight: 700;
  line-height: 30;
  letter-spacing: 0%;
}

.Text_xl_Bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 30;
  letter-spacing: 0%;
}

.Text_lg_Regular {
  font-size: 18px;
  font-weight: 500;
  line-height: 28;
  letter-spacing: 0%;
}

.Text_lg_Medium {
  font-size: 18px;
  font-weight: 600;
  line-height: 28;
  letter-spacing: 0%;
}

.Text_lg_Semibold {
  font-size: 18px;
  font-weight: 700;
  line-height: 28;
  letter-spacing: 0%;
}

.Text_lg_Bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 28;
  letter-spacing: 0%;
}
