@mixin aboutMobile {
    @media (max-width: 768px) {
      @content;
    }
  }
  
  #aboutHeadline {
    display: flex;
    padding: 6.8125rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: url("../images/about_bg_01.png") center center no-repeat rgb(247, 247, 248);
    height: auto;
    overflow: auto;
  
    .hero-content {
      display: flex;
      max-width: 65rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.1875rem;
  
      .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.125rem;
  
        h1 {
          font-size: 2.5rem;
          font-style: normal;
          font-weight: 700;
          line-height: 3rem;
          text-align: center;
          letter-spacing: -0.09rem;
          background: url(../images/bg.jpg);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          background-position: right;
        }
  
        hr {
          width: 2.1875rem;
          height: 0.125rem;
          color: #A04038;
        }
      }
  
      .about {
        display: flex;
        padding: 2.1875rem 2rem;
        align-items: flex-start;
        gap: 0.625rem;
        background-color: white;
  
        p {
          color: #000;
          text-align: center;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.5625rem;
        }
      }
  
      .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.125rem;
      }
  
    }
  }
  
  
  
  #logoSection {
    display: flex;
    padding: 4.0625rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
  
    .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 65rem;
      gap: 2.1875rem;
  
  
  
      h3 {
        color: #2C2C2C;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.75rem;
        letter-spacing: -0.05625rem;
      }
  
      hr {
        width: 2.1875rem;
        height: 0.125rem;
        color: #A04038;
      }
  
      p {
        color: #838383;
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3125rem;
        letter-spacing: -0.03rem;
      }
  
      img {
        width: auto;
        height: 5rem;
      }
    }
  }
  
  #LastYear {
    display: flex;
    padding: 4.0625rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.1875rem;
  
    .last {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      max-width: 65rem;
  
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
  
        h2 {
          color: #2C2C2C;
          font-size: 1.875rem;
          font-family: Lato;
          font-style: normal;
          font-weight: 700;
          line-height: 1.75rem;
          letter-spacing: -0.05625rem;
        }
  
        hr {
          width: 2.1875rem;
          height: 0.125rem;
          color: #A04038;
        }
  
        p {
          color: #838383;
          text-align: center;
          font-size: 1rem;
          font-family: Lato;
          font-style: normal;
          font-weight: 700;
          line-height: 1.3125rem;
          letter-spacing: -0.03rem;
        }
      }
  
      .pic {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5625rem;
        flex-wrap: wrap;
  
        img {
          width: auto;
          height: 14.75rem;
  
          @include aboutMobile {
            width: 100%;
            height: auto;
          }
        }
      }
  
    }
  }